<!DOCTYPE HTML>
<html lang="ja">
<head>
    <title>名古屋卒業メンタークイズ2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="contents">
            <a href="https://docs.google.com/spreadsheets/d/1l2OC4jWJRjVDF9lpGdb4LAtuTLQTWsNQvr2PwjWhU8M/edit?usp=sharing" class="square_btn">クイズ作成シート</a><br>
            <br>
            <a href="https://www.dropbox.com/request/NI3NDYx4mrKQPmaU9wv5" class="square_btn">動画アップロード</a>  
        </div>
    </div>
</body>
</html>