<!DOCTYPE HTML>
<html lang="ja">
<head>
    <title>名古屋卒業メンタークイズ2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="UTF-8">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="contents">
        <% if @questions %>
            <h1>全てのクイズ</h1>
            <% @questions.each do |question| %>
                <%= question.quiz %>
                <%= question.author %>
                </br>
            <% end %>
        <% else %>
        <h1>クリア目指して頑張ろう！</h1>
        <% end %>
        <br>
        <br>
        <a href="/user" class="square_btn">ホームに戻る</a><br>
        </div>
    </div>
</body>
</html>