<!DOCTYPE HTML>
<html lang="ja">
<head>
    <title>名古屋卒業メンタークイズ2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="UTF-8">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="contents">
            <h1>名古屋卒業メンター</h1>
            <h1>クイズ2018</h1>
            <h2>卒業メンターですか？</h2>
            <a href = "/"><button><i class="fas fa-times-circle"></i></button></a>
            <a href = "/login"><button><i class="fas fa-check-circle"></i></button></a>
        </div>
    </div>
</body>
</html>